# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.h5
*.json

# Logs
logs/
*.log

# Model files
*.h5
*.ckpt

# TensorBoard
events.out.tfevents.*

# System files
.DS_Store
Thumbs.db